/*Estilos gerais*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1,h2 {
    color:#333;
}

/*Estilos do formulário*/
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: vw100;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*Tabela de relatórios*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

teble, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

/*Botão de saída no painel de administração*/
#logout-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
}

#logout-button:hover {
    background-color: #c82333;
}